<section id="demos" class="section">
  <div class="container-fluid" style="max-width: 1024px;">
    <div class="text-center">
      <h2 class="mb-4">Create application</h2>
      <form
        action=";"
        class="cozy"
        novalidate="novalidate"
        style="text-align: start"
      >
        <div class="form-group">
          <label for="exampleInputEmailBase" class="form-label mb-0 bold"
            >Enter app name<span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control my-2"
            id="exampleInputEmailBase"
            aria-describedby="emailHelp"
            placeholder="Enter app name"
            [(ngModel)]="appName"
            [ngModelOptions]="{ standalone: true }"
            [maxLength]="255"
          />
          <div id="emailHelp" class="form-text text-secondary mt-0 mb-2">
            You can change the application name later in the application
            settings.
          </div>
        </div>
      </form>
    </div>
    <div class="mb-4">
      <label
        for="exampleInputEmailBase"
        class="form-label mb-2 bold"
        style="display: inherit"
        >Choose an application type</label
      >
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold" (click)="clientType = ClientType.Public"
          >Public</mat-button-toggle
        >
        <mat-button-toggle
          value="italic"
          (click)="clientType = ClientType.Confidential"
          >Confidential</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>

    <label for="exampleInputEmailBase" class="form-label mb-0 bold"
      >Choose an Authorization Grant Type</label
    >
    <div class=" bg-contrast p-4 rounded">
      <div class=" row gap-y text-center wrap-item">
        <div
          class="col-12 cursor-pointer  py-4 px-3 d-flex flex-column mb-4 border "
          (click)="
            selectedAuthorizationGrantType =
              AuthorizationGrantType.AuthorizationCode
          "
          [ngClass]="{
            'border-primary':
              selectedAuthorizationGrantType ===
              AuthorizationGrantType.AuthorizationCode
          }"
        >
          <div class="icon-shape mb-4">
            <img
              alt=""
              class="shape shape-xxl icon-xxl"
              src="assets/img/shps/bullets/2.svg"
            />

            <div
              class="align-items-center center-xy d-flex gradient gradient-blue-purple icon-xl justify-content-center p-3 rounded-circle shadow shadow-4"
            >
              <img
                alt=""
                class="img-responsive"
                src="assets/images/user-app/Sparkle.png"
              />
            </div>
          </div>

          <h6 class="text-darker bold mt-3">
            Authorization Code
          </h6>

          <p class="mt-4">
            <!--            Mobile, desktop, CLI and smart device apps running natively.-->
          </p>
        </div>
        <div
          class="col-12 cursor-pointer  py-4 px-3 d-flex flex-column mb-4 border "
          (click)="
            selectedAuthorizationGrantType = AuthorizationGrantType.Implicit
          "
          [ngClass]="{
            'border-primary':
              selectedAuthorizationGrantType === AuthorizationGrantType.Implicit
          }"
        >
          <div class="icon-shape mb-4">
            <img
              alt=""
              class="shape shape-xxl icon-xxl"
              src="assets/img/shps/bullets/2.svg"
            />

            <div
              class="align-items-center center-xy d-flex gradient gradient-blue-purple icon-xl justify-content-center p-3 rounded-circle shadow shadow-4"
            >
              <img
                alt=""
                class="img-responsive"
                src="assets/images/user-app/Sparkle.png"
              />
            </div>
          </div>

          <h6 class="text-darker bold mt-3">Implicit Grant</h6>

          <p class="mt-4">
            <!--            Mobile, desktop, CLI and smart device apps running natively.-->
          </p>
        </div>
        <div
          class="col-12 cursor-pointer  py-4 px-3 d-flex flex-column mb-4 border "
          (click)="
            selectedAuthorizationGrantType =
              AuthorizationGrantType.ClientCredentials
          "
          [ngClass]="{
            'border-primary':
              selectedAuthorizationGrantType ===
              AuthorizationGrantType.ClientCredentials
          }"
        >
          <div class="icon-shape mb-4">
            <img
              alt=""
              class="shape shape-xxl icon-xxl"
              src="assets/img/shps/bullets/3.svg"
            />

            <div
              class="align-items-center bg-info center-xy d-flex icon-xl justify-content-center p-3 rounded-circle shadow shadow-4"
            >
              <img
                alt=""
                class="img-responsive"
                src="assets/images/user-app/Web.png"
              />
            </div>
          </div>

          <h6 class="text-darker bold mt-3">
            Client Credentials
          </h6>

          <p class="mt-4">
            <!--            Traditional web app using redirects.-->
          </p>
        </div>
        <div
          class="col-12 cursor-pointer  py-4 px-3 d-flex flex-column mb-4 border"
          (click)="
            selectedAuthorizationGrantType = AuthorizationGrantType.OpenidHybrid
          "
          [ngClass]="{
            'border-primary':
              selectedAuthorizationGrantType ===
              AuthorizationGrantType.OpenidHybrid
          }"
        >
          <div class="icon-shape mb-4">
            <img
              alt=""
              class="shape shape-xxl icon-xxl"
              src="assets/img/shps/bullets/3.svg"
            />

            <div
              class="align-items-center bg-info center-xy d-flex icon-xl justify-content-center p-3 rounded-circle shadow shadow-4"
            >
              <img
                alt=""
                class="img-responsive"
                src="assets/images/user-app/Sparkle2.png"
              />
            </div>
          </div>

          <h6 class="text-darker bold mt-3">
            Openid Hybrid
          </h6>

          <p class="mt-4">
            <!--            CLIs, daemons or services running on your backend.-->
          </p>
        </div>
        <div
          class="col-12 cursor-pointer  py-4 px-3 d-flex flex-column mb-4 border"
          (click)="
            selectedAuthorizationGrantType = AuthorizationGrantType.Password
          "
          [ngClass]="{
            'border-primary':
              selectedAuthorizationGrantType === AuthorizationGrantType.Password
          }"
        >
          <div class="icon-shape mb-4">
            <img
              alt=""
              class="shape shape-xxl icon-xxl"
              src="assets/img/shps/bullets/3.svg"
            />

            <div
              class="align-items-center bg-info center-xy d-flex icon-xl justify-content-center p-3 rounded-circle shadow shadow-4"
            >
              <img
                alt=""
                class="img-responsive"
                src="assets/images/user-app/Sparkle2.png"
              />
            </div>
          </div>

          <h6 class="text-darker bold mt-3">
            Resource Owner Password Credentials
          </h6>

          <p class="mt-4">
            <!--            CLIs, daemons or services running on your backend.-->
          </p>
        </div>
      </div>
    </div>
    <div class="footer flex-end mt-4">
      <button
        type="button"
        class="btn btn-rounded btn-outline-secondary mr-4"
        [routerLink]="['../', 'list']"
      >
        Back
      </button>
      <button
        type="button"
        class="btn btn-rounded btn-outline-primary"
        [disabled]="!clientType || !selectedAuthorizationGrantType"
        (click)="onSubmit()"
      >
        Create
      </button>
    </div>
  </div>
</section>
