<section class="section bg-light bg-light-gradient edge bottom-right">
  <div class="container bring-to-front">
    <div class="section-heading text-center">
      <h2 class="bold">Getting Started</h2>
    </div>
    <div class="row gap-y">
      <div class="col-md-6">
        <div
          class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
          style="background-image: url('../../../../assets/img/lcards/time.svg')"
        >
          <h3>Save time</h3>
          <p class="text-secondary mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
          style="background-image: url('../../../../assets/img/lcards/done.svg')"
        >
          <h3>Get things done</h3>
          <p class="text-secondary mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
          style="background-image: url('../../../../assets/img/lcards/grow.svg')"
        >
          <h3>Grow your business</h3>
          <p class="text-secondary mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="rounded bg-contrast shadow-box image-background off-left-background lift-hover p-4 ps-6 ps-md-9"
          style="background-image: url('../../../../assets/img/lcards/goals.svg')"
        >
          <h3>Accomplish your goals</h3>
          <p class="text-secondary mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
            eveniet nihil perspiciatis quia quidem quod ratione sapiente sint?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
