<header class="page header text-contrast bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="bold display-md-4 text-contrast mb-4">Default App</h1>
      </div>
    </div>
  </div>
</header>

<section class="section bg-light edge top-left ">
  <div class="container bring-to-front border border-10 ">
    <div class="row align-items-start gap-y pt-4 mt-4 pb-4 border-bottom">
      <div class="col-md-6 col-lg-5 text-center text-md-left">
        <h2 class="text-dark light">Basic information</h2>
      </div>

      <div class="col-md-6 col-lg-6">
        <form
          action=";"
          class="cozy"
          novalidate="novalidate"
          style="text-align: start"
        >
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Name<span class="text-danger">*</span></label
            >
            <div class="form-text text-secondary mt-0 mb-2"></div>
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Name"
            />
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Domain<span class="text-danger">*</span></label
            >
            <div class="form-text text-secondary mt-0 mb-2"></div>
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Domain"
            />
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Client ID<span class="text-danger">*</span></label
            >
            <div class="form-text text-secondary mt-0 mb-2"></div>
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Client ID"
            />
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Client Secret<span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Client Secret"
            />
            <div class="form-text text-secondary mt-0 mb-2">
              The Client Secret is not base64 encoded.
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row align-items-start gap-y pt-4 mt-4 pb-4">
      <div class="col-md-6 col-lg-5 text-center text-md-left">
        <h2 class="text-dark light">Application Properties</h2>
      </div>

      <div class="col-md-6 col-lg-6">
        <form
          action=";"
          class="cozy"
          novalidate="novalidate"
          style="text-align: start"
        >
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Application Logo<span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Name"
            />
            <div class="form-text text-secondary mt-0 mb-2">
              The URL of the logo to display for the application, if none is set
              the default badge for this type of application will be shown.
              Recommended size is 150x150 pixels.
            </div>
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Application Type<span class="text-danger">*</span></label
            >
            <select
              class="form-select form-control-rounded valid"
              aria-invalid="false"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div class="form-text text-secondary mt-0 mb-2">
              The type of application will determine which settings you can
              configure from the dashboard.
            </div>
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Token Endpoint Authentication Method<span class="text-danger"
                >*</span
              ></label
            >
            <select
              class="form-check form-select form-control-rounded valid"
              aria-invalid="false"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div class="form-text text-secondary mt-0 mb-2">
              Defines the requested authentication method for the token
              endpoint. Possible values are 'None' (public application without a
              client secret), 'Post' (application uses HTTP POST parameters) or
              'Basic' (application uses HTTP Basic).
            </div>
          </div>
          <div class="form-group">
            <label class="form-label mb-0 text-black bold"
              >Client Secret<span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control mb-2 mt-2"
              aria-describedby="emailHelp"
              placeholder="Enter Client Secret"
            />
            <div class="form-text text-secondary mt-0 mb-2"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
