.dropdown-toggle::after {
  display: none;
}
.wrap-content {
  padding-top: 24px;
  .container {
    .header {
      .create-app {
        display: flex;
        justify-content: flex-end;
        span {
          background-color: #872cce;
          padding: 3px 25px;
          border-radius: 10px;
          text-align: center;
        }
      }
    }
    .list-app {
      margin-top: 24px;
      .app:last-child {
        margin-bottom: 100px !important;
      }
      .app {
        padding: 5px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: center;
        background-color: #fbf3f3;
        padding: 10px;
        position: relative;
        .wrap-img {
          margin-right: 10px;
          img {
            width: 45px;
            height: 45px;
          }
        }
        .name {
          min-width: 200px;
          font-size: 14px;
          width: 150px;
          display: grid;
          justify-content: start;
          text-align: start;
          .app-name {
            font-weight: bold;
          }
          .type {
            font-size: 11px;
          }
        }

        .client-id {
          @media screen and(max-width: 767px) {
            display: none !important;
          }
          display: block;
          margin-right: 50px;
          span {
            margin-right: 10px;
          }
        }
        .action-op {
          width: 30px;
          height: 30px;
          color: white;
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}
