<div class="wrap-content">
  <div class="container">
    <div class="header">
      <button
        type="button"
        [routerLink]="['../', 'create']"
        class="btn btn-primary"
      >
        Create new app
      </button>
    </div>
    <div class="list-app">
      <div class="app border-10 border color-primary my-4">
        <div class="wrap-img cursor-pointer" [routerLink]="['../', 'detail']">
          <img
            class="border-10"
            src="https://genk.mediacdn.vn/thumb_w/660/139269124445442048/2021/9/13/photo-1-1631488187952925878697.jpg"
            alt=""
          />
        </div>
        <div class="name cursor-pointer" [routerLink]="['../', 'detail']">
          <span class="app-name text-dark">Application 1</span>
          <span class="type text-dark">Application 1</span>
        </div>
        <div class="client-id">
          <span>Client ID: Qa93sezCtVPI9fvi4HBE91jyOoHabdZz</span>
          <img src="../../../../assets/images/user-app/Copy.png" alt="" />
        </div>
        <div class="action-op bg-secondary border-10">...</div>
      </div>
      <div class="app border-10 border color-primary my-4">
        <div class="wrap-img">
          <img
            class="border-10"
            src="https://genk.mediacdn.vn/thumb_w/660/139269124445442048/2021/9/13/photo-1-1631488187952925878697.jpg"
            alt=""
          />
        </div>
        <div class="name">
          <span class="app-name text-dark">Application 1</span>
          <span class="type text-dark">Application 1</span>
        </div>
        <div class="client-id">
          <span>Client ID: Qa93sezCtVPI9fvi4HBE91jyOoHabdZz</span>
          <img src="../../../../assets/images/user-app/Copy.png" alt="" />
        </div>
        <div class="action-op bg-secondary border-10">...</div>
      </div>
      <div class="app border-10 border color-primary my-4">
        <div class="wrap-img">
          <img
            class="border-10"
            src="https://genk.mediacdn.vn/thumb_w/660/139269124445442048/2021/9/13/photo-1-1631488187952925878697.jpg"
            alt=""
          />
        </div>
        <div class="name">
          <span class="app-name text-dark">Application 1</span>
          <span class="type text-dark">Application 1</span>
        </div>
        <div class="client-id">
          <span>Client ID: Qa93sezCtVPI9fvi4HBE91jyOoHabdZz</span>
          <img src="../../../../assets/images/user-app/Copy.png" alt="" />
        </div>
        <div class="action-op bg-secondary border-10">...</div>
      </div>
    </div>
  </div>
</div>
